.contador{
    min-width: 300px;
    height:300px;
    font-family: "Helvetica Neue";
    font-size:160px;
    font-weight:bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
}